<% if (results && results.length > 0) { %>
    <h2 style="text-align: center; margin-top: 40px;">Phenotypes :</h2>
    <p style="text-align: center; font-weight: bold; margin-bottom: 20px;"><%= phenotypes || 'No phenotype.' %></p>
    <h2 style="text-align: center; margin-top: 40px;">Results:</h2>
    <table id="resultsTable">
        <thead>
            <tr>
                <th>Gene</th>
                <th>Title of first publication</th>
                <th>Number of publications</th>
                <th>Function <i><b>(Uniprot)</b></i></th>
                <th>Mouse KO Phenotype <i>(IMPC)</i></th>
                <th>PanelApp (England/Australia)</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(result => { %>
                <tr>
                    <td class="gene"><i><b><%= result.gene %></b></i></td>
                    <td><%= result.title %></td>
                    <td><a href="<%= result.url %>" target="_blank"><%= result.count %></a></td>
                    <td>
                        <% if (result.function === "No match") { %>
                            <img src="/images/cross.png" alt="No Match" class="no-match"> <!-- Chemin de l'image -->
                        <% } else { %>
                            <%= result.function %>
                        <% } %>
                    </td>
                    <td>
                        <% if (result.mousePhenotype === "No match") { %>
                            <img src="/images/cross.png" alt="No Match" class="no-match"> <!-- Chemin de l'image -->
                        <% } else { %>
                            <%= result.mousePhenotype %>
                        <% } %>
                    </td>
                    <td>
                        <a href="https://panelapp.genomicsengland.co.uk/panels/entities/<%= result.gene %>" target="_blank">ENG: <%= result.panelAppEnglandCount %></a> / 
                        <a href="https://panelapp.agha.umccr.org/panels/entities/<%= result.gene %>" target="_blank">AUS: <%= result.panelAppAustraliaCount %></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <form id="export-pdf-form" action="/export-pdf" method="post">
        <input type="hidden" name="results" value='<%= JSON.stringify(results) %>'>
        <input type="hidden" name="phenotypes" value='<%= phenotypes %>'>
        <button type="submit" class="export-button">Export to PDF</button>
    </form>
<% } %>
